/* CSS declarations go here */
#like, #user {
    cursor: pointer;
}

.container {
  padding: 0 2em 2em 2em;
  text-align: center;
  display: inline-block;
  height: 100%;
  overflow: scroll;
}
.infoContainer {
    padding: 0 2em 2em 2em;
    display: inline-block;
    height: 100%;
    overflow: scroll;
}
.infoContainer tr {
    vertical-align: middle !important;
}
.gallery {
  text-align: left;
  display: inline-block;
  height: 100%;
}
.thumbnail {
  border: 1px solid #444;
  border-radius: 10px;
  display: inline-block;
  width: 300px;
  height: 168px;
}
.gallery .artpiece {
  margin: 0em 1em 1em 0em;
  display: inline-block;
  text-decoration: none;
  width: 300px;
  color: #888;
}
.hearticon {
    fill: red !important;
}
.galleryinfo {
    line-height: 1em;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;

    max-width: 300px;
}
.galleryinfo img {
    width: 1em;
    height: 1em;
    vertical-align: bottom;
}
.galleryname {
    flex: 1 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
header {
  background-image: url(/static/resources/images/vertexshaderart-banner.jpg);
  background-size: cover;
  padding: 1em;
  text-shadow:
      3px  3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
     -1px  1px 0 #000,
      1px  1px 0 #000;
  border-bottom: 2px solid black;
  font-weight: bold;
  font-size: large;
  text-align: right;
}
header h1 {
  margin: 0;
}
header>div {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
header .buttons {
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}
header a, header .buttons div, .button {
    background-color: rgba(0,0,0,0.7);
    border: 1px solid #444;
    margin: 0.25em;
    padding: 0.25em;
    border-radius: 0.5em;
    color: white;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
}
.padding {
    padding: 2em;
}
.sorting {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}
.sorting a {
    min-width: 3em;
    display: block;
    text-align: center;
}
.sorting .selected {
    background-color: #446;
}
.accounts-dialog {
    background-color: black;
    color: white;
}
/*

body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}
*/

