/* CSS declarations go here */
#like, #user, .share {
    cursor: pointer;
}

.share {
}
.sharing {
    position: fixed;
    z-index: 3;
}
.sharing .sharingback {
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.sharing .button {
    position: absolute;
    bottom: 2.5em;
    text-align: left;
}
.sharing>div>div {
    padding: 0.25em;
}
.sharing>div>div:hover {
    background-color: #444;
}
.shareform .caption {
    min-width: 300px;
    margin-bottom: 0.5em;
}
.shareform .text {
    background-color: black;
    color: white;
    width: 100%;
    height: 6em;
}

embed, object {
  display: none !important;
}

.container {
  padding: 0 2em 2em 2em;
  text-align: center;
  display: inline-block;
  height: 100%;
}
.infoContainer {
    padding: 0 2em 2em 2em;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.infoContainer .infoline {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    width: 100%;
}
.infoContainer .label {
    padding: 1em;
    min-width: 8em;
}
.infoContainer p {
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
}
.infoContainer a {
    text-decoration: none;
    color: #888;
}
.infoContainer .info {
    flex: 1 1 auto;
    padding: 1em;
}
.infoContainer input[type=text] {
    margin-top: -1em;
}
.infoContainer textarea {
    width: 100%;
    background-color: black;
    color: white;
    min-height: 3em;
    font-family: monospace;
    font-size: medium;
}
.infoContainer .userinfo {
    min-width: 5em;
    min-height: 1em;
}
.infoContainer .editable {
    color: #444;
}
.loading {
  width: 100%;
  height: 100%;
  background: url(/static/resources/images/loading.svg) no-repeat center center fixed;
}
.sortcriteria .title {
    font-size: x-large;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    margin-bottom: 0.25em;
    width: 10em;
}
.sortcriteria .title .right {
    font-size: medium;
    margin-left: 1em;
}

.sortcriteria .title a {
    border: 1px solid #444;
    border-radius: 0.5em;
    padding: 0.25em;
    display: inline-block;
    color: white;
    text-decoration: none;
}
#vsloginback {
    z-index: 20;
}

#savedialog {
    width: 330px;
}
#savedialog img {
    width: 300px;
    border: 1px solid #444;
    border-radius: 10px;
}
#savedialog button {
    border: 1px solid #444;
    padding: 0.5em;
}
#savedialog .buttons {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #444;
    text-align: right;
}

.saveline input[type=checkbox] {
    visibility: hidden;
}

.saveline input[type=checkbox] {
    display:none;
}
.saveline input[type=checkbox] + label:before {
    content: "";
    display: inline-block;
    width: 2em;
    height: 2em;
    vertical-align:middle;
    margin-left: 0.25em;
    margin-right: 0.5em;
    border: 1px solid #444;
    border-radius: 0.5em;
}
.saveline input[type=checkbox]:checked + label:before {
    content:"\2714";
    text-align:center;
    line-height:2em;
}

.saveline {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
}
.saveline #author, .saveline #private {
    margin-left: 0.75em;
}

.saveline .label {
    min-width: 9em;
    text-align: right;
    padding: 0.5em;
}
.saveline .data {
    flex: 1 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 0;
}

.gallery {
  text-align: left;
  display: inline-block;
  height: 100%;
  font-size: xx-small;
}
.thumbnail {
  border: 1px solid #444;
  border-radius: 10px;
  display: inline-block;
  width: 200px;
  height: 110px;
}
.gallery .artpiece {
  position: relative;
  margin: 0em 1em 1em 0em;
  display: inline-block;
  text-decoration: none;
  text-align: left;
  width: 200px;
  color: #888;
}
.gallery .artpiece img.thumbnail:hover {
  box-shadow: inset 0px 0px 10px 3px #24A, 0px 0px 10px 3px #24A;
}
.hearticon {
    fill: red !important;
}
.galleryinfo {
    line-height: 1em;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    max-width: 200px;
}
.galleryinfo img {
    width: 1em;
    height: 1em;
    vertical-align: bottom;
}
.artpiece a, .galleryinfo a {
    text-decoration: none;
    color: #888;
}
.artpiece .artstate {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
}
.artpiece .artstate .private, .artpiece .artstate .revisions, .artstate .hasSound {
    width: 2em;
    height: 2em;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #444;
    border-radius: 0.5em;
    padding: 0.25em;
    margin-right: 0.25em;
    color: white;
    display: inline-block;
}

.galleryname {
    flex: 1 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.galleryinfo .likes {
    color: #C44;
    font-weight: bold;
}
.bottomspace {
    height: 10em;
}
header {
  background-image: url(/static/resources/images/vertexshaderart-banner.jpg);
  background-size: cover;
  padding: 1em;
  text-shadow:
      3px  3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
     -1px  1px 0 #000,
      1px  1px 0 #000;
  border-bottom: 2px solid black;
  font-weight: bold;
  font-size: large;
  text-align: right;
}
header h1 {
  margin: 0;
}
header>div {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
header .logo a {
    text-decoration: none;
    color: white;
}
header .buttons {
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}
header .buttons a, header .buttons div, .button {
    background-color: rgba(0,0,0,0.7);
    border: 1px solid #444;
    margin: 0.25em;
    padding: 0.25em;
    border-radius: 0.5em;
    color: white;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    font-family: monospace;
}
.button {
    font-size: medium;
}
.padding {
    padding: 2em;
}
.sorting, .sorting .sorttype, .sorting .pagination {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}
.sorting a {
    min-width: 3em;
    display: block;
    text-align: center;
}
.sorting .selected {
    background-color: #446;
}
.gallery .bottomsorting {
    display: none;
}
.accounts-dialog {
    background-color: black;
    color: white;
}
.at-title {
    font-size: x-large;
}
.at-sep {
    margin: 0.25em 0 0.25em 0;
    font-size: x-large;
}
.at-signup-link, .at-signin-link {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #444;
}
.at-input {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}
.at-input label {
    padding-right: 0.5em;
    min-width: 10em;
    display: inline-block;
    white-space: nowrap;
}
.at-input input {
    flex: 1 0 auto;
}
.at-form h3 {
    margin: 0 0 0.5em 0;
}
.at-pwd-form {
    text-align: right;
}
.at-form button, .at-link {
    font-family: monospace;
    font-size: medium;
    background-color: #000;
    border: 1px solid #444;
    margin: 0.25em;
    padding: 0.5em;
    border-radius: 0.5em;
    color: white;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
}
.at-social-btn {
    display: block;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}


@media (max-width : 425px) {
  .thumbnail {
    width: 300px;
    height: 168px;
  }
  .gallery {
    font-size: small;
  }
  .gallery .artpiece {
    width: 300px;
  }
  .galleryinfo {
    max-width: 300px;
  }
}

@media (max-width : 500px) {
    header>div {
        flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
    }
    header h1 {
        font-size: xx-large;
    }

    header .buttons a, header .buttons div {
        margin: 0.25em;
        padding: 0.5em;
    }
    .container {
        padding: 0.75em;
    }
    .gallery .topsorting .pagination {
        display: none;
    }
    .gallery .bottomsorting {
        display: block;
    }
    .gallery .artpiece {
        margin: 0 0 1em 0;
    }
    .gallery .artgrid {
        text-align: center;
    }
    .gallery .sortcriteria .title {
        width: 100%;
        justify-content: center;
        -webkit-justify-content: center;
    }
    .gallery .sortcriteria .title .right {
        margin-left: 2em;
    }
    .gallery .sortcriteria {
        text-align: center;
    }
    .sorting {
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: center;
        -webkit-justify-content: center;
        padding-bottom: 1em;
    }
    .sorting .sorttype {
        justify-content: space-around;
        -webkit-justify-content: space-around;
        width: 100%;
    }
    .sorting .button {
        padding: 1em;
    }
    .sorting .pagination .button {
        margin: 1em;
    }
}
