/* CSS declarations go here */
#like, #user {
    cursor: pointer;
}

embed, object {
  display: none !important;
}

.container {
  padding: 0 2em 2em 2em;
  text-align: center;
  display: inline-block;
  height: 100%;
  overflow: scroll;
}
.infoContainer {
    padding: 0 2em 2em 2em;
    display: inline-block;
    height: 100%;
    overflow: scroll;
}
.infoContainer .infoline {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
}
.infoContainer .label {
    padding: 1em;
}

#vsloginback {
    z-index: 20;
}

#savedialog {
    width: 330px;
}
#savedialog img {
    border: 1px solid #444;
    border-radius: 10px;
}
#savedialog button {
    border: 1px solid #444;
    padding: 0.5em;
}
#savedialog .buttons {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #444;
    text-align: right;
}
.saveline {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
}
.saveline .label {
    min-width: 9em;
    text-align: right;
    padding: 0.5em;
}
.saveline .data {
    flex: 1 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 0;
}

.gallery {
  text-align: left;
  display: inline-block;
  height: 100%;
}
.thumbnail {
  border: 1px solid #444;
  border-radius: 10px;
  display: inline-block;
  width: 300px;
  height: 168px;
}
.gallery .artpiece {
  margin: 0em 1em 1em 0em;
  display: inline-block;
  text-decoration: none;
  text-align: left;
  width: 300px;
  color: #888;
}
.hearticon {
    fill: red !important;
}
.galleryinfo {
    line-height: 1em;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;

    max-width: 300px;
}
.galleryinfo img {
    width: 1em;
    height: 1em;
    vertical-align: bottom;
}
.artpiece a, .galleryinfo a {
    text-decoration: none;
    color: #888;
}
.galleryname {
    flex: 1 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.galleryinfo .likes {
    color: #C44;
    font-weight: bold;
}
.bottomspace {
    height: 10em;
}
header {
  background-image: url(/static/resources/images/vertexshaderart-banner.jpg);
  background-size: cover;
  padding: 1em;
  text-shadow:
      3px  3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
     -1px  1px 0 #000,
      1px  1px 0 #000;
  border-bottom: 2px solid black;
  font-weight: bold;
  font-size: large;
  text-align: right;
}
header h1 {
  margin: 0;
}
header>div {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
header .logo a {
    text-decoration: none;
    color: white;
}
header .buttons {
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}
header .buttons a, header .buttons div, .button {
    background-color: rgba(0,0,0,0.7);
    border: 1px solid #444;
    margin: 0.25em;
    padding: 0.25em;
    border-radius: 0.5em;
    color: white;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    font-family: monospace;
}
.button {
    font-size: medium;
}
.padding {
    padding: 2em;
}
.sorting, .sorting .sorttype, .sorting .pagination {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}
.sorting a {
    min-width: 3em;
    display: block;
    text-align: center;
}
.sorting .selected {
    background-color: #446;
}
.gallery .bottomsorting {
    display: none;
}
.accounts-dialog {
    background-color: black;
    color: white;
}
.at-title {
    font-size: x-large;
}
.at-sep {
    margin: 0.25em 0 0.25em 0;
    font-size: x-large;
}
.at-signup-link, .at-signin-link {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #444;
}
.at-input {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}
.at-input label {
    padding-right: 0.5em;
    min-width: 10em;
    display: inline-block;
    white-space: nowrap;
}
.at-input input {
    flex: 1 0 auto;
}
.at-form h3 {
    margin: 0 0 0.5em 0;
}
.at-pwd-form {
    text-align: right;
}
.at-form button, .at-link {
    font-family: monospace;
    font-size: medium;
    background-color: #000;
    border: 1px solid #444;
    margin: 0.25em;
    padding: 0.5em;
    border-radius: 0.5em;
    color: white;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
}
.at-social-btn {
    display: block;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}


@media (max-width : 600px) {
    header>div {
        flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
    }
    header h1 {
        font-size: xx-large;
    }

    header .buttons a, header .buttons div {
        margin: 0.25em;
        padding: 0.5em;
    }
    .container {
        padding: 0.75em;
    }
    .gallery .topsorting .pagination {
        display: none;
    }
    .gallery .bottomsorting {
        display: block;
    }
    .gallery .artpiece {
        margin: 0 0 1em 0;
    }
    .gallery .artgrid {
        text-align: center;
    }
    .sorting {
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: center;
        -webkit-justify-content: center;
        padding-bottom: 1em;
    }
    .sorting .sorttype {
        justify-content: space-around;
        -webkit-justify-content: space-around;
        width: 100%;
    }
    .sorting .button {
        padding: 1em;
    }
    .sorting .pagination .button {
        margin: 1em;
    }
}
