server/vsa-uploads
server/deploy/settings
server/deploy/backups
server/deploy/settings-live.json
server/deploy/settings-local.json
server/deploy/settings-staging.json
server/vertexshaderart/settings-dev.json
server/mongo
settings.env
docker-compose.yml
node_modules
output
.DS_Store
*~
*.swp
*.bat
*.bak
*.bak.json
temp
.mayaSwatches
.git
.svn
.hg
*.pyc
*.orig
.project
*.meta
*.vpj
*.vpw
*.vpwhistu
*.vtg

